@import 'https://static.iadvize.com/conversation-panel-app-lib/2.9.0/idzcpa.base.css';

.index{
    padding: 30px;
    font : var(--CPA-text-default);
}

.homeButtons{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    background-color: var(--CPA-color-neutral-300);
    padding: 30px;
    border-radius: 20px;
}

.homeButtons a{
    font-size: 20px;
}

.homeButtons a:hover{
    text-decoration: underline;
}

.head{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    margin-bottom: 20px;
    align-items: center;
}

.head img{
    grid-column: 1;
    height: 30px;
    width: auto;
    transform: scaleX(-1);
}

.head h1{
    grid-column: 2;
    text-align: center;
}



.card{
    box-shadow: var(--CPA-shadow-small);
    padding: var(--CPA-vertical-padding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
}

.card:hover{
    box-shadow: var(--CPA-shadow-default);
    transition: 50ms;
}

.card p{
    font : var(--CPA-text-default);
}

.card button{
    color: var(--CPA-color-text-main);
    background-color: var(--CPA-color-neutral-200);
    border-radius: 15px;
    padding: 10px;
}

.card .coffeePic{
    grid-column: 1;
    max-width: 100px;
    height: 60px;
    margin-left: 20px;
}

.greaterThan{
    grid-column: 3;
    height: 30px;
    width: auto;
    margin-left: 70%;
}

.card-right{
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-column: 2;
    padding: 5px;
    border-radius: 10px;
}

.profile{
    display: flex;
    flex-direction: column;
    gap : 20px;
}

.profileHeader{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.profileHeader button{
    background-color: white;
    border: none;
    grid-column: 3;
    margin-left: 70%;
}

.profileHeader #productProfile{
    grid-column: 1;
}

.profileHeader #coffeeName{
    grid-column: 2;
    margin-left: 20px;
}

.profileTop{
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-around;
    align-items: center;
    font : var(--CPA-text-default);
}

.profileTop img{
    max-width: 100px;
    height: 70px;
}

.top-right{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap : 10px
}

.top-right div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profileMiddle{
    font : var(--CPA-text-default);
    display: flex;
    flex-direction: column;
    
}

.profileMiddle p{
    margin: 0;
}


.mainButton{
    width: fit-content;
    background-color: var(--CPA-color-action);
    border: 1px solid var(--CPA-color-neutral-200);
    box-shadow: var(--CPA-shadow-small);
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    color: white;
}

.mainButton:hover{
    box-shadow: var(--CPA-shadow-default);
    transition: 50ms;
}

.title{
    text-align: center;
    margin-bottom: 30px;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 10px;
    margin-bottom: 30px;
}

.listUsed{
    font: var(--CPA-text-default)
}

.previousPrice{
    text-decoration: line-through;
}

